/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
  margin-bottom: 4em;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * MAIN
 */

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(61, 126, 154);
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
a#sign_in,
a#sign_up {
  white-space: nowrap;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
div#content {
  margin: 0 1em 1em 1em;
}
div#footer {
  display: grid;
  font-size: 87.5%; /* 12px */
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin: 3em 1em 1em 1em;
}
div#footer li {
  margin-bottom: 1em;
}
div#hero_box {
  border: 1px solid black;
  height: 15em;
  margin-bottom: 2em;
  padding: 3em 1em 1em 1em;
}
div#hero_graphic {
  margin: 0 1em 1em 1em;
}
div.placeholder {
  background-image: url('../img/placeholder.svg');
  background-size: 100% 100%;
}
div.program_placeholder {
  height: 15em;
  margin-bottom: 1em;
  width: 100%;
}
div#programs {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
div#ribbon {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto min-content min-content;
  margin-bottom: 1em;
  padding: 1em 1em 0 1em;
}
div#ribbon h1 {
  margin-bottom: 0;
}
div.video_placeholder {
  height: 12em;
  margin-bottom: 1em;
  width: 100%;
}
div.video_thumbnail_placeholder {
  height: 10em;
  margin-bottom: 1em;
  width: 100%;
}
div#videos {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  margin: 0 1em 1em 1em;
}
h1 {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: calc(1em / 1.5);
}
h2 {
  font-weight: bold;
  font-size: 125%;
  margin-bottom: calc(1em / 1.25);
}
h3 {
  font-weight: bold;
  font-size: 112.5%;
  margin-bottom: calc(1em / 1.125);
}
p {
  margin-bottom: 1em;
}
p.username {
  margin-top: -1em;
}

@media all and (min-width: 421px) {
  div#footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  div#videos {
    grid-template-columns: 1fr 1fr;
  }
  div.video_placeholder {
    height: 20em;
  }
}

@media all and (min-width: 769px) {
  div#programs {
    grid-template-columns: 1fr 1fr;
  }
  div#videos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.video_placeholder {
    height: 30em;
  }
}
@media all and (min-width: 1201px) {
  div#content, 
  div#footer,
  div#hero_graphic,
  div#ribbon,
  div#videos {
    margin: 0 auto 1em auto;
    width: calc(1200px - 2em);
  }
}
