<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/design_after_the_end_of_the_world/static/css/index.css">
  </head>
  <body>
    <div id="ribbon">
      <div id="branding">
        <h1><a href="/">Organization name</a></h1>
      </div>
      <form id="sign_up" method="get">
        <button type="button">Sign Up</button>
      </form>
      <form id="sign_in" method="get">
        <button type="button">Sign In</button>
      </form>
    </div>
    {% block content %}{% endblock %}
    <div id="footer">
      <div>
        <ul>
          <li><a href="/about/">item one</a></li>
          <li><a href="/about/">item two</a></li>
          <li><a href="/about/">item three</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/about/">item one</a></li>
          <li><a href="/about/">item two</a></li>
          <li><a href="/about/">item three</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/about/">item one</a></li>
          <li><a href="/about/">item two</a></li>
          <li><a href="/about/">item three</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/about/">item one</a></li>
          <li><a href="/about/">item two</a></li>
          <li><a href="/about/">item three</a></li>
        </ul>
      </div>
    </div>
  </body>
</html> 
