{% extends "base.html" %}
{% block content %}
  <div id="content">
    <h1>User</h1>
    <p>In non eros dignissim, tincidunt ante nec, euismod dui. Phasellus ultrices urna eros, vitae congue nisi blandit vel. Nam ac pellentesque justo. Integer aliquet imperdiet ullamcorper. Aenean et eros rutrum, blandit purus non, tincidunt urna. Fusce porta lacus in quam convallis condimentum. Sed quis pulvinar quam. Quisque id mauris urna. Praesent sit amet leo rhoncus quam porttitor auctor. Sed nulla nibh, viverra vel rutrum eget, viverra eget augue. Donec ut metus odio. Donec nisl neque, varius vel purus et, mattis consequat elit. Maecenas vulputate nec lorem venenatis euismod.</p>
  </div>
{% endblock %}
